.App {
  text-align: center;
}

body {
  background-color: #f4f0ec;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.add-icon {
  margin-top: 40rem !important;
  margin-left: 42rem !important;
  color: white !important;
  background-color: black !important
}
.title {
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  line-height: 32px !important;
  letter-spacing: -0.02em !important;
  color: #1A1A1A !important;
}

.header {
  width: 560px !important;
  height: 32px !important;

  /* English/Title/S Bold *Updated* */

  font-family: 'GT Walsheim' !important;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 24px !important;
  line-height: 32px !important;
  /* identical to box height, or 133% */

  letter-spacing: -0.02em !important;

  /* Typography/900 */

  color: #1A1A1A !important;
}

/* .am5-html-container {
  pointer-events: auto !important
} */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;

  position: absolute;
  width: 656px;
  height: 758px;
  left: 20rem;
  top: 5rem;

  /* True White */

  background: #FFFFFF;
  border-radius: 24px;
}
.description-field .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input  {
  height: 2.5em !important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*Daily scale CSS*/
.c-clock {
  transform: scale(0.8);
  width: 350px;
  height: 350px;
  background: white;
  border-radius: 50%;
  border: 100px solid lightgray;
  position: relative;
  margin: auto;
  /* -webkit-box-shadow: inset 0 32px 0 0 rgba(0,0,0,0.20);
	-moz-box-shadow: inset 0 32px 0 0 rgba(0,0,0,0.20);
	box-shadow: inset 0 32px 0 0 rgba(0,0,0,0.20); */

  &:after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    background: black;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 25px solid;
    z-index: 3;
    color: white;
    content: "June 03 Mon";
    line-height: 6;
    font-weight: bold;
  }

  .c-clock__tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom center;
    text-align: center;

    &.c-clock__tick--hours {
      width: 40px;
      height: 150px;
      background: #bdc3c7;
      z-index: 2;
      transform: translate(-50%, -100%);
      border-radius: 20px 20px 0 0;
    }

    &.c-clock__tick--minutes {
      width: 40px;
      height: 150px;
      background: #bdc3c7;
      z-index: 2;
      transform: translate(-50%, -100%);
      border-radius: 20px 20px 0 0;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 50%;
      }
    }

    &.c-clock__tick--seconds {
      width: 20px;
      height: 150px;
      background: #cc0000;
      z-index: 3;
      transform: translate(-50%, -100%);
      border-radius: 10px;
    }
  }
}

.dot {
  height: 30px;
  width: 30px;
  background-color: #ffffff;
  border-radius: 50%;
  display: inline-block;
}

span.dot.whitedot1 {
  position: relative;
  right: 125px;
  bottom: -60px;
}

span.dot.whitedot2 {
  position: relative;
  bottom: 0px;
  right: 110px;
}

span.dot.whitedot3 {
  position: relative;
  top: -44px;
  right: 80px;
}

span.dot.whitedot4 {
  position: relative;
  top: -65px;
  right: 33px;
}

span.dot.whitedot5 {
  position: relative;
  top: -57px;
  left: 16px;
}

span.dot.whitedot6 {
  position: relative;
  left: 60px;
  top: -25px;
}

canvas#canvas {
  position: absolute;
  left: -24px;
  top: -20px;
}

/**progressbar css*/
svg.CircularProgressbar.circle-progress {
  position: absolute;
  left: 241px;
  top: -42px;
  transform: scale(1.5);
  rotate: 13deg;
}

.circle-progress .CircularProgressbar-path {
  transform: rotate(40deg);
  stroke: goldenrod !important;
  /* stroke-dashoffset: 233.269px !important; */
}

svg.CircularProgressbar.circle-progress1 {
  position: absolute;
  left: -9px;
  top: -15px;
  transform: scale(1.5);
  rotate: 109deg;
}

.circle-progress1 .CircularProgressbar-path {
  stroke: #93c572 !important;
}

svg.CircularProgressbar.circle-progress2 {
  position: absolute;
  left: -21px;
  top: -6px;
  transform: scale(1.5);
  rotate: 140deg;
}

.circle-progress2 .CircularProgressbar-path {
  stroke: #add8e6 !important;
}

svg.CircularProgressbar.circle-progress3 {
  rotate: -186deg;
  position: absolute;
  left: 5px;
  top: -16px;
  transform: scale(1.5);
}

.circle-progress3 .CircularProgressbar-path {
  stroke: #9c8fba !important;
}

svg.CircularProgressbar.circle-progress4 {
  position: absolute;
  left: 14px;
  top: 20px;
  transform: scale(1.5);
  rotate: 264deg;
}

.circle-progress4 .CircularProgressbar-path {
  stroke: #e66771 !important;
}

span.activity1 {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: -38px;
  border: 6px solid goldenrod;
  z-index: 9999;
}

span.activity2 {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: -48px;
  top: 260px;
  border: 6px solid #93c572;
  z-index: 9999;
}

span.activity3 {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 17px;
  top: 327px;
  border: 6px solid #add8e6;
  z-index: 9999;
}

span.activity4 {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: -84px;
  top: 179px;
  border: 6px solid #e66771;
  z-index: 9999;
}

span.activity5 {
  height: 50px;
  width: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: -78px;
  top: 209px;
  border: 6px solid goldenrod;
  z-index: 9999;
}

.text-class {
  color: #585858 !important;
  background: white !important;
  border-radius: 5px !important;
  border-color: white !important;
  font-weight: 600 !important;
  margin-right: 8px !important;
  padding: 12px !important;
  cursor: pointer;
}

.text-background {
  color: white !important;
  background: black !important;
  border-radius: 5px !important;
  font-weight: 600 !important;
  margin-right: 8px !important;
  padding: 12px !important;
  cursor: pointer;
}

.buttons-list {
  float: right;
  margin-right: 5rem;
}

.angular-label {
  font-weight: bold !important;
  font-size: 1rem !important;
}

/**clock scale CSS*/
.c-clockscale {
  transform: scale(0.8);
  width: 400px;
  height: 400px;
  background: white;
  border-radius: 50%;
  /* border: 100px solid lightgray; */
  position: relative;
  margin: auto;
  /* -webkit-box-shadow: inset 0 32px 0 0 rgba(0,0,0,0.20);
	-moz-box-shadow: inset 0 32px 0 0 rgba(0,0,0,0.20);
	box-shadow: inset 0 32px 0 0 rgba(0,0,0,0.20); */

  /* &:after {
    content: "";
    display: block;
    width: 25px;
    height: 25px;
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    border: 25px solid;
    z-index: 3;
    color: white;
    content: "";
    line-height: 6;
    font-weight: bold;
  } */

  .c-clockscale__tick {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    transform-origin: bottom center;
    text-align: center;

    &.c-clockscale__tick--hours {
      width: 40px;
      height: 150px;
      background: #bdc3c7;
      z-index: 2;
      transform: translate(-50%, -100%);
      border-radius: 20px 20px 0 0;
    }

    &.clockscale__tick--minutes {
      width: 40px;
      height: 150px;
      background: #bdc3c7;
      z-index: 2;
      transform: translate(-50%, -100%);
      border-radius: 20px 20px 0 0;
      overflow: hidden;

      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 100px;
        height: 100px;
        background: rgba(0, 0, 0, 0.35);
        border-radius: 50%;
      }
    }

    &.clockscale__tick--seconds {
      width: 20px;
      height: 150px;
      background: #cc0000;
      z-index: 3;
      transform: translate(-50%, -100%);
      border-radius: 10px;
    }
  }
}

.graydot {
  height: 30px;
  width: 30px;
  background-color: lightgray;
  border-radius: 50%;
  display: inline-block;
}

span.graydot.dotstyle {
  position: absolute;
  top: 268px;
  left: 59px;
}

span.graydot.dotstyle1 {
  position: absolute;
  top: 229px;
  left: 45px;
}

span.graydot.dotstyle2 {
  position: absolute;
  left: 39px;
  top: 188px;
}

span.graydot.dotstyle3 {
  position: absolute;
  top: 146px;
  left: 40px;
}

span.graydot.dotstyle4 {
  position: absolute;
  top: 105px;
  left: 55px;
}

span.graydot.dotstyle5 {
  position: absolute;
  top: 69px;
  left: 88px;
}

span.graydot.dotstyle6 {
  position: absolute;
  top: 43px;
  left: 135px;
}

span.graydot.dotstyle7 {
  position: absolute;
  top: 32px;
  left: 185px;
}

span.graydot.dotstyle8 {
  position: absolute;
  top: 38px;
  left: 233px;
}

span.graydot.dotstyle9 {
  position: absolute;
  top: 63px;
  left: 278px;
}

span.graydot.dotstyle10 {
  position: absolute;
  top: 100px;
  left: 311px;
}

span.graydot.dotstyle11 {
  position: absolute;
  top: 145px;
  left: 333px;
}

span.graydot.dotstyle12 {
  position: absolute;
  top: 190px;
  left: 343px;
}

svg.CircularProgressbar.clockcircle-progress2 {
  position: absolute;
  left: 69px;
  top: 67px;
  rotate: 99deg;
  width: 75%;
}

.clockcircle-progress2 .CircularProgressbar-path {
  stroke: goldenrod !important;
}

svg.CircularProgressbar.clockcircle-progress3 {
  rotate: -186deg;
  position: absolute;
  left: 51px;
  top: 73px;
  width: 75%;
}

.clockcircle-progress3 .CircularProgressbar-path {
  stroke: #e66771 !important;
}

span.clockactivity1 {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  right: 29px;
  top: 226px;
  border: 4px solid goldenrod;
  z-index: 9999;
}

span.clockactivity4 {
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 50%;
  position: absolute;
  left: 195px;
  top: 343px;
  border: 4px solid #e66771;
  z-index: 9999;
}

:root {
  --degHour: 0;
  --degMin: 0;
  --degSec: 0;
}

.h-hand,
.m-hand,
.s-hand {
  position: absolute;
  transform-origin: bottom;
  border-radius: 40%;
}

.h-hand {
  width: 20px;
  height: 120px;
  background: #999;
  top: calc(50% - 132px);
  left: calc(50% - 8px);
  rotate: var(--degHour);
  border-radius: 20px 20px 0 0;
}

.m-hand {
  width: 10px;
  height: 145px;
  background: black;
  top: calc(50% - 160px);
  left: calc(50% - 8px);
  rotate: var(--degMin);
  border-radius: 20px 20px 0 0;
}

.s-hand {
  width: 6px;
  height: 160px;
  background: black;
  border-radius: 10px;
  top: calc(50% - 175px);
  left: calc(50% - 2px);
  rotate: var(--degSec);
}

.s-hand::after {
  border-radius: 50%;
  display: block;
  content: "";
  width: 30px;
  height: 30px;
  background: red;
  position: absolute;
  bottom: -15px;
  left: -15px;
}

/*****Weekly scale CSS*******/
#chartdiv {
  width: 100%;
  height: 500px;
}
/*******Form routine CSS****************/
.form-buttons {
  display: flex !important;
  flex-direction: row !important;
  float: right;
  margin-top: 5rem !important;
}
button.savebutton {
  border-radius: 30px !important;
  border-color: black;
  color: black;
}
.timepickercontainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
/*******Display routine CSS*********/
.topcontainer {
  height: 90px;
  background: #F8D472;
  padding: 30px;
  border-radius: 15px 15px 0px 0px;
}
p.popup-heading {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 700;
  font-size: 30.375px;
  color: #000000;
  margin: 0 !important;
}
p.popup-subheading {
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 700;
  font-size: 20.5052px;
  line-height: 1.8;
  color: #000000;
  margin: 0 !important;
}
.bottomcontainer {
  background: #FDEBB9;
  border-radius: 0px 0px 15px 15px;
  height: 460px;
  overflow-x: scroll;
}
.white-circle {
  background: #FFFFFF;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 1.6;
  margin-right: 4px;
  font-family: 'GT Walsheim';
  font-style: normal;
  font-weight: 700;
  font-size: 14.7071px;
  color: #070707;
}
.circle-div{
  margin-top: 5px;
}
.amcontent {
  width: 30px;
  height: 26px;
  border: 1px solid #79747E;
  border-radius: 3px 3px 0 0;
  line-height: 1.5;
  padding-left: 5px;
}
.amcontent1 {
  width: 30px;
  height: 26px;
  border: 1px solid #79747E;
  border-radius: 0 0 3px 3px;
  line-height: 1.5;
  padding-left: 5px;
}
.boxcontainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
.boxsubcontent {
  display: flex;
  flex-direction: row;
  padding: 8px;
}
.boxcontainer1 {
  display: flex;
  justify-content: center;
  padding-top: 25px;
}